.root
{
    -bg-color: #87CEEB;
    -court-color: rgb(34, 139, 34);
    -error-color: red;
    -coin-p1-color: black;
    -coin-p2-color: white;

    -title-font-size: 48px;
    -action-font-size: 24px;

    -fx-background-color: -bg-color;
}

.bevelborder
{
    -fx-border-color: lightgray darkgray darkgray lightgray;
    -fx-border-width: 20;
    -fx-border-style: solid inside line-join bevel;
    -fx-border-radius: 10px;
}

.court
{
    -fx-background-color: black;
    -fx-background-insets: 20;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.75),5,0,5,5);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.75),5,0,5,5);
}

.cell
{
    -fx-background-color: -court-color;
}

.titleFont
{
    -fx-font-family: Georgia, serif;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}


.actionFont
{
    -fx-font-family: Georgia, serif;
    -fx-font-weight: bold;
}

.p1_font
{
    -fx-fill: -coin-p1-color;
}

.p2_font
{
    -fx-fill: -coin-p2-color;
}

.neutral_font
{
    -fx-fill: red;
}

.p1_color
{
    -fx-fill: radial-gradient(focus-distance 10% , center 30% 30% , radius 100% , grey, -coin-p1-color);
}

.p2_color
{
    -fx-fill: radial-gradient(focus-distance 10% , center 30% 30% , radius 100% , -coin-p2-color, grey);
}

.dropshadow
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.75),5,0,5,5);
}

.menuFont
{
    -fx-font: 20px serif;
    -fx-fill: black;
}

.error
{
    -fx-fill: -error-color;
}

.glass-grey {
    -fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}